<div class="form-group article-buttons">
    <div class="delete">
        <a class="delete-article" href="@Url.Action("Delete", "Article")"><div>Delete</div></a>
    </div>
    <div class="save">
        <a class="save-article" href="@Url.Action("Save", "Article")"><div>Save</div></a>
    </div>
</div>