@using demo.Service

@model ArticleViewModel

<div class="form-horizontal">
    @{ Html.RenderPartial("~/Views/Article/Buttons.cshtml", Model); }
    @{ Html.RenderPartial("~/Views/Article/EditInfos.cshtml", Model); }
</div>
