@using demo.Service
@model List<ArticleViewModel> 

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src=@Url.Content(string.Format("~/Scripts/backoffice/createpage-min.js?{0}{1}", DateTime.Now.Minute, DateTime.Now.Second)) type="text/javascript"></script>
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="articles-list">
        @foreach (var article in Model)
        {
            <div><span>@Ajax.ActionLink(article.Title, "EditAction", 
                      new { id = article.Id },
                      new AjaxOptions() {
                          HttpMethod = "GET",
                          UpdateTargetId = "article-details",
                          InsertionMode = InsertionMode.Replace
                      })
                </span>
            </div>
        }
    </div>
    <div id="article-details">
        @{ Html.RenderPartial("Edit", Model[0]); }
    </div>
</div>
