@using demo.Service
@model ArticleViewModel

<div id="article">
    <input type="hidden" id="Id" name="Id" value=@Model.Id />
    <div class="basic-infos">
        <div>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
        </div>
        <br />
        <div>
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { placeholder = "Description" } })
        </div>
    </div>
    @if (Model.PagesGlobe != null)
    {
        { Html.RenderPartial("~/Views/Page/PagesEditor.cshtml", Model.PagesGlobe); }
    }
</div>