@using demo.Service;

@model ArticlePages

<div class="form-group edit-pages">
    <div class="pages-tabs">
        <ul class="tab-links" id="tabs">
            @if (Model != null && Model.FirstPage != null && Model.Pages.Count() > 0)
            {
                int tabCount = 0;
                foreach (var page in Model.Pages)
                {
                    ViewData["count"] = tabCount++;
                    { Html.RenderPartial("~/Views/Page/Tab.cshtml", page); }
                }
            }
            else
            {
                ViewData["count"] = 0;
                {
                    Html.RenderPartial("~/Views/Page/Tab.cshtml", new PageViewModel
                    {
                        Id = -1,
                        ArticleId = Model.ArticleId
                    });
                }
            }
            @{ var plusclass = Model.FirstPage != null && @Model.FirstPage.Id != -1 ? "plus" : "plus disabled"; }
            <li class= "@plusclass">
                <a id="tabplus" href="#">&#x2B;</a>
            </li>
        </ul>
    </div>
    @if (Model.FirstPage != null)
    {
        { Html.RenderPartial("~/Views/Page/Edit.cshtml", Model.FirstPage); }
    }
    else
    {
        { Html.RenderPartial("~/Views/Page/Edit.cshtml", new PageViewModel() { Id = -1 }); }
    }
</div>


