@using demo.Service;

@model PageViewModel

<div class="page-edit">
    <div class="page-buttons">
        @{ Html.RenderPartial("~/Views/Page/Buttons.cshtml"); }
    </div>
    <div id="pageinfos">
        @{ Html.RenderPartial("~/Views/Page/Content.cshtml", Model); }
    </div>
</div>
@{ Html.RenderPartial("~/Views/Page/Delete.cshtml", Model); }
<div class="loading hide-loading" id="page-loading"><div><span>Loading page content...</span></div></div>
