@using demo.Service

@model ArticlesGlobe

@{
    ViewBag.Title = "Article Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logo = "../images/edit64.png";
    ViewBag.Header = "Article Editor";
}
<div id="article-list">
        @if (Model.First.Id == -1)
        {
            { Html.RenderPartial("~/Views/Article/Tab.cshtml", Model.First); }
        }
        else
        {
            foreach (var article in Model.Articles)
            {
                { Html.RenderPartial("~/Views/Article/Tab.cshtml", article); }
            }
        }
        <div class="article-link plus">
            <a id="add-article-tab" href="#"><div>&#x2B;</div></a>
        </div>
</div>
<div id="article-details">
    @{ Html.RenderPartial("~/Views/Article/Edit.cshtml", Model.First); }
</div>
<div class="loading-article" id="loadingArticle">
    <div>
        <span>Loading Article</span>
    </div>
</div>
