@using demo.Service

@model ArticlesGlobe

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="article-list">
        @if (Model.First.Id == -1)
        {
            { Html.RenderPartial("~/Views/Article/ArticleTab.cshtml", Model.First); }
        }
        else { 
            foreach (var article in Model.Articles)
            {
                { Html.RenderPartial("~/Views/Article/ArticleTab.cshtml", article); }
            }
        }
        <div class="article-link plus">
            <a id="add-article-tab" href="#"><div>&#x2B;</div></a>
        </div>
    </div>
    <div id="article-details">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @{ Html.RenderPartial("~/Views/Article/Buttons.cshtml"); }
                <div id="article">
                    @{ Html.RenderPartial("~/Views/Article/EditInfos.cshtml", Model.First); }
                </div>
            </div>      
        }
    </div>
</div>
