@using demo.Service
@model ArticlesGlobe

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="articles-list">
        @foreach (var article in Model.Articles)
        {
            <div>
                <span>
                    @Ajax.ActionLink(article.Title, "EditAction", "Article",
                      article,
                      //new { id = article.Id },
                      new AjaxOptions()
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "article-details",
                          InsertionMode = InsertionMode.Replace,
                          OnComplete = "init"
                      })
                </span>
            </div>
        }
        <div>
            <span>
            @Ajax.ActionLink("New", "EditAction", "Article",
                      new ArticleViewModel() { Id = -1, PagesGlobe = new ArticlePages() },
                      //new { id = -1 },
                      new AjaxOptions()
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "article-details",
                          InsertionMode = InsertionMode.Replace,
                          OnComplete = "init"
                      }) 
            </span>
        </div>
    </div>
    <div id="article-details">
        @{ Html.RenderPartial("~/Views/Article/Edit.cshtml", Model.First); }
    </div>
</div>
