@font-face {
	font-family: 'icomoon';
	src:url('font/icomoon.eot?x5xtwx#iefix') format('embedded-opentype'),
		url('font/icomoon.ttf?x5xtwx') format('truetype'),
		url('font/icomoon.woff?x5xtwx') format('woff'),
		url('font/icomoon.svg?x5xtwx#icomoon') format('svg');
}

body {
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

div.page {
    width: 75%;
    background-color: #fff;
    margin: 0px auto 0px auto;
}


.page input[type='text'], .page textarea{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.page textarea {
    width: 595px;
    height: 10em;
    resize: none;
    display:inline-block;
    box-sizing: border-box;
}

div.page > header {
    width:70%;
    text-align:center;
    float:left;
    border-bottom: 1px solid #008ac9;
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1000;
    background-color: white;
}

div.page > header > div {
    margin:auto;
    text-align:left;
}

div.page > header > div.pres > div {
    float: left;
    margin-left: 20px;
}

div.main {
    float:left;
    width:100%;
    margin-top: 100px;
    padding: 0px 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.main > div:first-child {
    margin:0 auto;
    width:90%;
    position:relative;
    float:left;
}

div#article-list {
    width: 22%;
    font-size: 1.4em;
}

div#article-list > div {
    text-align: center;
    border: 1px solid #008ac9;
    color : #008ac9;
    margin-bottom: 0.5em;
    padding: 0.3em;
}

div#article-list > div.active {
    background: #7FB5DA;
    border: 1px solid #7FB5DA;
    color: #fff;
}

div#article-list > div:last-child {
    background: #008ac9;
    color : white;
}

div#article-list a {
    color: inherit;
}

div#article-list > div.disabled {
    pointer-events: none;
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    color:#888;
}

div#article-details {
    width: 78%;
    float: left;
}

div.loading-article {
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 75%;
    height: 660px;
    box-sizing: border-box;
    padding-top: 15%;
    background: #fff;
    opacity: .65;
    text-align: center;
    font-size: 25px;
    color: #000;
}

div.loading-article::after {
    content: " ";
    background-image: url(../images/rolling.gif);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 75px;
    height: 75px;
}

div.main div.form-horizontal {
    margin:auto;
    width:90%;
}

div.article-buttons {
    z-index: 500;
}

div.article-buttons > div {
    float: left;
    width: 32%;
    margin-right: 0.3em;
}

div.article-buttons a {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

div.article-buttons > div.save > a > div {
    background-color: #51c900;
    padding: .6em;
}

div.article-buttons > div.delete > a > div {
    background-color: black;
    padding: .6em;
}

div.article-buttons > div.view > a > div {
    background-color: #feb0be;
    padding: .6em;
}

div#article {
    margin-top: 25px;
    float: left;
    width: 100%;
}

/*
    Article page mode edit
*/

div.article-buttons > label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1%;
}

div.article-page {
    position:relative;
    margin-bottom:1.5%;
}

div.page-edit {
    background-color: #5c98b4;
    padding:1%;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div#pageinfos { 
    width: 100%;
    display:inline-block;
}

div.page-buttons { 
    margin: 0 0 8px 0;
    float:right;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

div.page-buttons > a {
    width: 70px;
    padding: 0 25px 0 25px;
    color: #fff;
    display: inline-block;
}

    div.page-buttons > a.save-page {
        background-color: #51c900;
        margin-right: 5px;
    }

    div.page-buttons > a.delete-page {
        background-color: #000;
        margin-left: 5px;
    }

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}       

[class^="icon-"], [class*=" icon-"] {
    font-family:'icomoon';
}

/*Deleting bloc warning*/
div.del-confirm, 
div.del-background {
    display:none;
}

div.del-background {
	z-index:1;
    width: 595px;
    position:absolute;
    top:0;
    opacity:0.7;
	background-color:black;
    text-align:center;
    height:100%;
}

div.del-confirm {
	background-color:white;
    padding: 2em;
	margin:auto;
	width:28%;
    height: 50px;
    top:40%;
    right:0;
    left:0;
	position: absolute;
	z-index:2;
    border: 1px solid black;
	font-size:12px;
	font-weight:normal;
	font-family:Calibri;
}

div.del-confirm > div.del-warn {
    float: left;
    width:100%;
    height: 30px;
    font-weight: bold;
}

div.del-confirm > div.del-warn > a > picture {
    float:left;
    margin-right:0.5em;
}

div.del-confirm > div.del-warn > a > picture::after {
    content: "";
    display: inline-block;
    background: transparent url(../Style/img/warn-delete.png) no-repeat center right;
    background-size:100%;
    width:3em;
    height:3em;
}

.del-confirm > div.edit-del-butt {
    width: 100%;
    float:left;
    margin:auto;
    text-align:center;
}

.del-confirm > div.edit-del-butt > div {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    background-color: #c4bfbf;
    font-weight:bold;
}

.del-confirm > div.edit-del-butt > div > a {
    color:black;
}

/*Loading bloc while updating page*/

div.loading {
    display: none;
    position: absolute;
    height:100%;
    width: 595px;
    top:0;
    padding-top: 15%;
    opacity: 0.65;
    color: #000;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

div.loading > div {
    margin: auto;
}

div.loading::after {
    position: absolute;
    content: " ";
    background-image: url(../images/rolling.gif);
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}

div.hidden-bloc {
    display:none;
}

ul.tab-links {
    margin-bottom:0px;
    padding-left:0px;
}

ul.tab-links > li.disabled > a {
    pointer-events: none;
    background-color: #f9f9f9;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    color:#888;
}

.tab-content {
    position: relative;
}

.tab-content > div.active {
    display: block;
}

.tabs-header{
    width:100%;
    display:inline-block;
}
 
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
 
.tab-links li {
    margin:0px 1px 0px 0px;
    float:left;
    list-style:none;
}
 
.tab-links a {
    padding:2px 8px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:white;
    transition:all linear 0.15s;
    text-decoration:none;
    border-top: 1px solid #7FB5DA;
    border-right: 1px solid #7FB5DA;
    border-left: 1px solid #7FB5DA;
}
 
.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}
 
li.active a, li.active a:hover {
    background:#5c98b4;
}

div.edit-pages {
    float:left;
    width: 100%;
    margin-top: 2%;
}

div.edit-pages > div label {
    font-weight: bold;
}

div.edit-pages > div.col-md-10 {
    width: 595px;
    float: left;
}

/*Phone*/
@media screen and (max-device-width: 480px) {
    div.page {
        width: 100%;
        /*min-height: 100% !important;*/ 
        font-size: 45%;
    }

    .ui-mobile .ui-page-active {
        overflow: auto !important;
        overflow-x: scroll !important;
        /*min-height: inherit !important;*/
        display: inherit !important;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    div.page > header {
        width:100%;
        position: relative;
    }

    div.page > header > div > a > picture {
        height: 2.5em;
    }

    div.page > header > div > a > picture::after {
        width:2.5em;
        height:2.5em;
    }

    div.main {
        width:100%;
        margin-top:0;
        padding:0;
    }

    div.pager-container {
        display: none;
    }

    .manager-page-title h1 {
        font-size: 3em;
    }

    article > div {
        width:auto;
    }
}

	